<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
    <plugin>
        <pluginName>Zendformbuilder</pluginName>
        <pluginDescription>Build Zend_Form quickly and easily (compatible with pimcore 1.4.5)</pluginDescription>
        <pluginNiceName>Zend Form Builder</pluginNiceName>
        <pluginIcon>/plugins/Zendformbuilder/static/img/logo_formbuilder.png</pluginIcon>
        <pluginServer>thirdpartyplugins.pimcore.org</pluginServer>
        <pluginVersion>1.2.0</pluginVersion>
        <pluginRevision>2</pluginRevision>
        <pluginBuildTimestamp>1314635984</pluginBuildTimestamp>
        <pluginIframeSrc></pluginIframeSrc>
        <pluginClassName>Formbuilder_Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/Zendformbuilder/lib</path>
            <path>/Zendformbuilder/controllers</path>
            <path>/Zendformbuilder/models</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>Formbuilder</namespace>
            <namespace>Twitter</namespace>
        </pluginNamespaces>
        <pluginJsPaths>
            <path>/Zendformbuilder/static/js/Zendformbuilderplugin.js</path>
            <path>/Zendformbuilder/static/js/settings.js</path>
            <path>/Zendformbuilder/static/js/apiwindow.js</path>
            <path>/Zendformbuilder/static/js/comp/importer.js</path>
            <path>/Zendformbuilder/static/js/comp/elem.js</path>            
            <path>/Zendformbuilder/static/js/comp/type/base.js</path>
            <path>/Zendformbuilder/static/js/comp/type/displayGroup.js</path>
            <path>/Zendformbuilder/static/js/comp/type/button.js</path>
            <path>/Zendformbuilder/static/js/comp/type/captcha.js</path>
            <path>/Zendformbuilder/static/js/comp/type/checkbox.js</path>
            <path>/Zendformbuilder/static/js/comp/type/file.js</path>
            <path>/Zendformbuilder/static/js/comp/type/hash.js</path>
            <path>/Zendformbuilder/static/js/comp/type/hidden.js</path>
            <path>/Zendformbuilder/static/js/comp/type/multiCheckbox.js</path>
            <path>/Zendformbuilder/static/js/comp/type/multiselect.js</path>
            <path>/Zendformbuilder/static/js/comp/type/password.js</path>
            <path>/Zendformbuilder/static/js/comp/type/radio.js</path>
            <path>/Zendformbuilder/static/js/comp/type/reset.js</path>
            <path>/Zendformbuilder/static/js/comp/type/select.js</path>
            <path>/Zendformbuilder/static/js/comp/type/submit.js</path>
            <path>/Zendformbuilder/static/js/comp/type/image.js</path>
            <path>/Zendformbuilder/static/js/comp/type/text.js</path>
            <path>/Zendformbuilder/static/js/comp/type/textarea.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/base.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/alnum.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/alpha.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/baseName.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/boolean.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/callback.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/digits.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/dir.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/htmlEntities.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/int.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/pregReplace.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/stringToLower.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/stringToUpper.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/stringTrim.js</path>
            <path>/Zendformbuilder/static/js/comp/filter/stripTags.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/base.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/alnum.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/alpha.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/between.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/callback.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/creditCard.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/date.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/digits.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/emailAddress.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/extension.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/float.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/greaterThan.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/hex.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/hostname.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/iban.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/identical.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/inArray.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/int.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/ip.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/isbn.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/lessThan.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/postCode.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/regex.js</path>
            <path>/Zendformbuilder/static/js/comp/validator/stringLength.js</path>
            <path>/Zendformbuilder/static/js/composite/SuperBoxSelectSpe.js</path>
            <path>/Zendformbuilder/static/js/SuperField/SuperField.js</path>
        </pluginJsPaths>
        <pluginCssPaths>
            <path>/Zendformbuilder/static/css/admin.css</path>
            <path>/Zendformbuilder/static/js/SuperField/ux-superfield.css</path>
        </pluginCssPaths>
    </plugin>
</zend-config>
